extends layout

block content
  h1 Products Management
  button(onclick="showForm('new')") New Product

  .container
    .product-list
      table
        thead
          tr
            th Image
            th Name
            th Actions
        tbody
          each product in products
            tr(data-id=product.id)
              td
                .image-carousel
                  button.carousel-control-prev(type="button", onclick=`prevImage(${product.id})`) &lt;
                  .carousel-inner(id=`carousel-${product.id}`)
                    each image, index in product.images
                      img(src=image, class=(index === 0 ? 'active' : ''), width="100")
                  button.carousel-control-next(type="button", onclick=`nextImage(${product.id})`) &gt;
              td= product.name
              td
                button(onclick=`showForm('edit', ${product.id})`) Edit
                button(onclick=`deleteProduct(${product.id})`) Delete
    .product-form#product-form(style="display:none")  
      h2#form-title New Product
      form(id="productForm", enctype="multipart/form-data")
        input(type="hidden", name="id", id="productId")
        .form-group
          label(for="productName") Name:
          input(type="text", name="name", id="productName")
        .form-group
          label(for="productCategory") Category:
          select(name="category_id", id="productCategory")
            each category in categories
              option(value=category.id)= category.name
        .form-group
          label(for="productShortDescription") Short Description:
          input(type="text", name="short_description", id="productShortDescription")
        .form-group
          label(for="productLongDescription") Long Description:
          textarea(name="long_description", id="productLongDescription")
        .form-group
          label Colors:
          .boxes
            each color in colors
              .checkbox
                input(type="checkbox", name="colors", value=color.id, id=`color-${color.id}`)
                label(for=`color-${color.id}`)= color.name
        .form-group
          label(for="productPrice") Price:
          input(type="number", step="0.01", name="price", id="productPrice")
        .form-group
          label(for="newImages") Images:
          input(type="file", name="images", id="newImages", multiple, onchange="addNewImages()")
        .form-group
          .image-preview-container
            label Images:
            .image-preview-row
        .form-group
          label Tags:
          .boxes
            each tag in tags
              .checkbox
                input(type="checkbox", name="tags", value=tag.id, id=`tag-${tag.id}`)
                label(for=`tag-${tag.id}`)= tag.name
        button(type="submit") Save
      button(onclick="hideForm()") Cancel
  script(src="/js/scripts.js")